:root {
  font-family: poppins;
  line-height: 1.5;
  font-weight: 500;

  --nectus-purple: #8D55E7;
  --nectus-purple-light: #CA53EA;
  --nectus-green: #93E663;
  --black: #000;
  --white: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.footer {
  background: linear-gradient(298deg, #8D55E7 20%, #CA53EA 100%);
  min-height: 500px;
  padding: 20px;
}

.ft-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ft-up-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft-up-logo {
   width: 170px;
}

.ft-subtitle {
  font-size: 0.9rem;
}

.ft-c1-text{
  padding: 20px 60px 0 60px;
}

.ft-up-c1 {
  color: var(--white);
  text-align: center;
}

.ft-up-c2 {
  background-color: var(--white);
  height: 1px;
  margin: 50px 20px 0 20px;
}

.ft-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.ft-menu-btn {
  color: var(--nectus-green);
  font-weight: bold;
  font-size: 0.8rem;
  background-color: rgb(0 0 0 / 0) ;
  border: none;
  padding: 0px;
  margin: 8px;
}

.ft-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px 0 50px;
}

.ft-btn {
  color: var(--nectus-purple);
  background-color: var(--nectus-green);
  border-radius: 89px;
  border: var(--nectus-purple);
  font-size: 0.8rem;
  font-weight: 300;
  margin: 6px;
  transition: 0.5s;
}

.ft-up-c4 {
  color: var(--white);
  margin: 40px 20px 20px 20px;
  font-size: 0.9rem;
}

.ft-c4-text {
  margin: 30px 0 30px 0;
}

.c4-bottom {
  margin-top: -15px;
}

.ft-down {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  color: var(--white);
  height: 200px;
}

.ft-down-text {
  max-width: 600px;
  line-height: 1rem;
}







@media screen and (min-width: 768px) {

  .ft-up {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .ft-up-c1 {
    text-align: left;
    width: 300px;
    height: 362px;
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-left: 120px;
    margin-top: 30px;
  }

  .ft-up-img {
    margin-left: 55px;
    margin-bottom: 30px;
  }

  .ft-up-logo {
    width: 135px;
  }

  .ft-subtitle {
    font-size: 0.7rem;
    margin-top: 20px;
  }

  .ft-up-c2 {
    height: 300px;
    width: 1px;
  }

  .ft-up-c3 {
    width: 200px;
    height: 362px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
  }

  .ft-menu-btn {
    font-size: 0.7rem;
    margin: 12px 10px;
  }

  .ft-menu {
    flex-direction: column;
    align-items: start;
  }

  .ft-btn {
    font-size: 0.7rem;
    margin: 6px;
    padding: 3px 10px 3px 10px;
  }

  .ft-btns {
    align-items: start;
    margin: 0px;
    text-align: left;
  }

  .ft-up-c4 {
    max-width: 160px;
    margin-right: 150px;
    font-size: 0.7rem;
  }

  .c4-bottom {
    margin-top: -10px;
    padding: 0px;
  }

  #ft-c4-title{
    margin-bottom: 35px;
    margin-top: 55px;
  }

  #ft-c4-holidays {
    font-size: 0.5rem;
  }

  .ft-down {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 230px 0 230px;
    font-size: 0.59rem;
    margin-top: -20px;
    line-height: 0.5rem;
  }

  .ft-btn {
    color: var(--white);
    background-color: transparent;
    border-radius: 89px;
    border: var(--white) 1px solid;
    transition: 0.5s;
  }

  .ft-btn:hover,
  .ft-btn:focus {
    box-shadow: inset 0 -4.25em 0 0 var(--nectus-green);
    border: 1px solid transparent;
    color: var(--nectus-purple);
  }

  .ft-menu-btn {
    color: var(--white);
    transition: 0.3s;
  }

  .ft-menu-btn:hover {
    color: var(--nectus-green);
  }
}