:root {
  font-family: poppins;
  line-height: 1.5;
  font-weight: 500;

  --nectus-purple: #8D55E7;
  --nectus-purple-light: #CA53EA;
  --nectus-green: #93E663;
  --black: #000;
  --white: #FFF;
  --nectus-lilac: #c8b3ea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


input {
  background-color: var(--white);
  border: 1px solid var(--nectus-purple);
  color: var(--nectus-lilac);
  border-radius: 100px;
  padding: 8px;
  margin: 5px;
  font-size: 0.8rem;
  max-height: 25px;
  width: 300px;
}

::placeholder {
  color: var(--nectus-lilac);
}

select {
  background-color: var(--white);
  border: 1px solid var(--nectus-purple);
  border-radius: 100px;
  padding: 8px;
  margin: 5px;
  font-size: 0.8rem;
  width: 320px;
  color: var(--nectus-lilac);
}

.select-arrow {
  padding-right: 50px;
}

.form-btn {
  background-color: var(--nectus-purple);
  border-radius: 100px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--white);
  height: 35px;
  width: 320px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}

.form-btn:hover,
.form-btn:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--nectus-green);
  border-color: var(--nectus-green);
  color: var(--nectus-purple);
}

.s12-form-warning {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--nectus-purple-light);
  line-height: 1rem;
  text-align: center;
}

#form-privacy {
  font-size: 0.6rem;
  font-weight: 500;
  color: var(--nectus-purple-light);
  line-height: 0.8rem;
  text-align: left;
  margin: 5px 0px 5px 5px;
}









@media screen and (min-width: 768px) {
  .input-row {
    display: flex;
    justify-content: space-between;
    width: 107%;
    margin-top: 0px;
  }

  input {
    border-radius: 100px;
    padding: 8px;
    margin: 5px;
    font-size: 0.7rem;
    max-height: 20px;
    width: 100%;
  }

  select {
    background-color: var(--white);
    border: 1px solid var(--nectus-purple);
    border-radius: 100px;
    padding: 8px;
    margin: 5px;
    font-size: 0.7rem;
    width: 104%;
    color: var(--nectus-lilac);
  }

  .form-btn {
    font-size: 0.7rem;
    font-weight: 500;
    margin: 5px;
    width: 418px;
  }

  .forms {
    width: 400px;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
  }
}