:root {
  font-family: poppins;
  line-height: 1.5;
  font-weight: 500;

  --nectus-purple: #8D55E7;
  --nectus-purple-light: #CA53EA;
  --nectus-green: #93E663;
  --black: #000;
  --white: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.header {
  position: fixed;
  background-color: var(--white);
  width: 100%;
  z-index: 200;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1px;
}

.menu-icon {
  margin-right: 20px;
}

.logo {
  max-height: 70px;
}

.hd-menu {
  display: none;
}

.hd-item {
  color: var(--black);
  background-color: rgb(0 0 0 / 0);
  padding: 5px;
  margin: 10px;
  font-size: 0.8rem;
  transition: ease-in-out 0.3s;
}

.hd-item:hover {
  color: var(--nectus-purple);
  /* text-decoration: underline var(--nectus-purple); */
  /* text-underline-offset: 8px; */
}

.hd-btn {
  background-color: rgb(0 0 0 / 0);
  border: 1px solid var(--nectus-purple);
  color: var(--nectus-purple);
  border-radius: 100px;
  padding: 10px;
  margin: 5px;
  font-size: 0.8rem;
  height: 40px;
  transition: 0.5s;
}

.hd-btn:hover,
.hd-btn:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--nectus-purple-light);
  border: 1px solid transparent;
  color: var(--white);
}

.hd-itens {
  display: flex;
  align-items: center;
  color: var(--black);
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  background-color: var(--nectus-purple);
  padding: 90px 0 40px 0;
  border-radius: 0 0 30px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  animation: slideDown 0.5s ease-in-out;
}

.mb-menu-item {
  color: var(--nectus-green);
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline 2px var(--nectus-purple-light);
  text-underline-offset: 20px;
  border: none;
  padding: 10px;
  margin: 8px;
}

.mb-menu-btn {
  color: var(--nectus-purple);
  background-color: var(--nectus-green);
  border-radius: 89px;
  border: var(--nectus-purple);
  font-size: 0.8rem;
  font-weight: 300;
  margin: 6px;
}

.mb-menu-btns {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}






@media screen and (min-width: 768px) {

  .header {
    align-items: center;
  }

  .menu-icon {
    display: none;
  }

  .hd-menu {
    display: flex;
    margin-right: 50px;
  }

  .hd-img {
    margin-left: 50px;
  }
}





@keyframes slideDown {
  0% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(0);
  }
}